.strobe {
  transform-origin: bottom;
  animation: strobeStart .5s ease-out, strobe 1s infinite;
  animation-delay: 0s, .5s;
}

@keyframes startStrobe {
  0% {
    transform: skew(0deg,0deg) scaleY(1);
    animation-timing-function: ease-in;
  }
  40% {
    transform: skew(0deg,0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(4deg,0deg) scaleX(1);
  }
}

@keyframes strobe {
  0% {
    transform: skew(4deg,0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg,0deg) scaleY(.9);
  }
  50% {
    transform: skew(-4deg,0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg,0deg) scaleY(.9);
  }
  100% {
    transform: skew(4deg,0deg) scaleX(1);
  }
}

.shake {
  animation: shake .1s 5;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px); }
}

.pressEnter {
  animation: pressEnter .1s 1;
}

@keyframes pressEnter {
  50% {
    border-width: 1px 1px 2px 1px;
    top: 10px;
  }
}

.correct {
  top: -1000px;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.fadein {
  -webkit-animation: fadein .8s;
  -moz-animation: fadein .8s;
  -ms-animation: fadein .8s;
  -o-animation: fadein .8s;
  animation: fadein .8s;
}
