.strobe {
  transform-origin: bottom;
  animation: strobeStart .5s ease-out, strobe 1s infinite;
  animation-delay: 0s, .5s;
}

@keyframes startStrobe {
  0% {
    transform: skew(0deg,0deg) scaleY(1);
    animation-timing-function: ease-in;
  }
  40% {
    transform: skew(0deg,0deg) scaleY(.9);
    animation-timing-function: ease-out;
  }
  100% {
    transform: skew(4deg,0deg) scaleX(1);
  }
}

@keyframes strobe {
  0% {
    transform: skew(4deg,0deg) scaleX(1);
  }
  10% {
    transform: skew(1deg,0deg) scaleY(.9);
  }
  50% {
    transform: skew(-4deg,0deg) scaleX(1);
  }
  60% {
    transform: skew(-1deg,0deg) scaleY(.9);
  }
  100% {
    transform: skew(4deg,0deg) scaleX(1);
  }
}

.shake {
  animation: shake .1s 5;
}

@keyframes shake {
  0%   { transform: translateX(0); }
  25% {  transform: translateX(-5px); }
  50% {  transform: translateX(0); }
  75% {  transform: translateX(5px); }
}

.pressEnter {
  animation: pressEnter .1s 1;
}

@keyframes pressEnter {
  50% {
    border-width: 1px 1px 2px 1px;
    top: 10px;
  }
}
