#editor-headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

#editors-container {
  background-color: #A8A8A8;
  margin: 0 auto;
  border: 10px solid #1C1F1E;
  box-sizing: border-box;
}

.editor-header {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: monospace;
  margin: 10px 0;
  padding: 0 10px;
  box-sizing: border-box;
}

.editor-header li:first-of-type {
  font-weight: bold;
}

#editors {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#css-editor, #html-viewer {
  width: 350px;
  box-sizing: border-box;
  border: 1px solid #3A3A3B;
}

#css-editor, #html-viewer, .text-editor-lines {
  height: 356px;
}

.text-editor-lines {
  width: 30px;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 8px 10px 0;
  box-sizing: border-box;
  border-top: 1px solid #3A3A3B;
  border-bottom: 1px solid #3A3A3B;
}

.text-editor-lines:first-of-type {
  background-color: #DDDDDD;
}

#css-input {
  position: absolute;
  top: 7px;
  left: 35px;
  width: 37%;
  height: 13px;
}

.input-flash {
  background-color: #7FE1A1;
}

#enter-button {
  position: absolute;
  font-family: monospace;
  padding: 2px 5px;
  color: #666666;
  border: 3px solid #999999;
  border-width: 1px 1px 4px 4px;
  border-radius: 2px;
  font-size: 9px;
  top: 6px;
  left: 43%;
}

#css-editor textarea {
  width: 100%;
  height: 100%;
  padding: 23px 5px 5px 5px;
  box-sizing: border-box;
  font-family: monospace;
  line-height: 1.6em;
  background-color: #EFEFEF;
}

#html-viewer {
  padding: 5px;
  line-height: 1.6em;
  box-sizing: border-box;
}
