.gym-bench {
  width: 600px;
  height: 190px;
  background: url('https://res.cloudinary.com/malice/image/upload/v1501649999/bench_umaiut.png') no-repeat center center;
  background-size: 600px;
}

dumbbell {
  width: 160px;
  height: 90px;
  background: url('https://image.flaticon.com/icons/svg/458/458991.svg') no-repeat center center;
  background-size: 140px;
  cursor: pointer;
  position: absolute;
  top: 95px;
  right: 25%;
}

dumbbell:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1501614674/dumbell-hover_xx1elr.png') no-repeat center center;
  background-size: 166px;
}

.gym-bench dumbbell:first-of-type {
  left: 25%;
}

#orange {
  background: url('https://res.cloudinary.com/malice/image/upload/v1501644341/orange-dumbbell_f3pufe.png') no-repeat center center;
  background-size: 140px;
}

.small {
  background-size: 100px;
}

.small:hover {
  background-size: 120px;
}
