.gym-bench {
  width: 400px;
  height: 172px;
  background: url('https://res.cloudinary.com/malice/image/upload/v1501606406/gymbench_ummfad.png') no-repeat center center;
  background-size: 400px;
  position: absolute;
  bottom: -60px;
  left: 25%;
}

dumbbell {
  width: 100px;
  height: 40px;
  background: url('https://image.flaticon.com/icons/svg/458/458991.svg') no-repeat center center;
  background-size: 80px;
  cursor: pointer;
  position: absolute;
  top: -10px;
}

dumbbell:hover {
  background: url('https://res.cloudinary.com/malice/image/upload/v1501614674/dumbell-hover_xx1elr.png') no-repeat center center;
  background-size: 95px;
}

.gym-bench dumbbell:first-of-type {
  left: 25%;
}
