.gym-bench {
  width: 600px;
  height: 190px;
  background: url('https://res.cloudinary.com/malice/image/upload/v1501649999/bench_umaiut.png') no-repeat center center;
  background-size: 600px;
  margin-top: 85px;
  position: relative;
}

dumbbell {
  width: 140px;
  height: 69px;
  background: url('http://res.cloudinary.com/malice/image/upload/v1501906540/dumbbell_i0nx4n.png') no-repeat center center;
  background-size: 140px;
  cursor: pointer;
  position: absolute;
  top: -35px;
  right: 20%;
}

dumbbell:first-of-type {
  left: 20%;
}

dumbbell:first-of-type.move-left {
  left: 15%;
}

dumbbell:last-of-type.move-left {
  right: 37%;
}

#orange {
  background: url('https://res.cloudinary.com/malice/image/upload/v1501644341/orange-dumbbell_f3pufe.png') no-repeat center center;
  background-size: 140px;
}

#orange:hover {

}

.small {
  width: 100px;
  height: 49px;
  background-size: 100px;
  top: -15px;
}

kettlebell {
  background: url('https://res.cloudinary.com/malice/image/upload/v1501898842/kettlebells_ri14jr.png') no-repeat center center;
  background-size: 80px;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -48px;
  right: 23%;
  cursor: pointer;
}

kettlebell:first-of-type {
  left: 32%;
}

kettlebell:last-of-type {
  right: 10%;
}

step {
  background: url('https://res.cloudinary.com/malice/image/upload/v1501898607/step_yae774.png') no-repeat center center;
  background-size: 100px;
  width: 100px;
  height: 30px;
  position: absolute;
  top: 3px;
  right: 17%;
  cursor: pointer;
}

step > kettlebell:first-of-type {
  top: -75px;
  left: 9px;
}
