.fa {
  cursor: pointer;
}

.fa-arrow-circle-left {
  margin-right: 20px;
}

.disabled {
  cursor: default;
}

.sidebar {
  width: 20%;
  min-height: 100vh;
  background-color: #FAFAFA;
  border-left: 5px solid #40bc6c;
  border-right: 5px solid #40bc6c;
  border-bottom: 5px solid #40bc6c;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 28px;
}

h4 {
  font-weight: bold;
  font-size: 18px;
}

h5 {
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.sidebar-header, .level-nav {
  padding: 15px;
  background-color: #40bc6c;
  font-family: 'Bungee', cursive;
  letter-spacing: 2px;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.level {
  font-size: 20px;
  font-weight: bold;
}

.level-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.level-description {
  padding: 15px;
  line-height: 18px;
}

.level-dropdown {
  position: absolute;
  display: none;
  top: 65px;
  right: -5px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  background-color: #1C1F1E;
  color: #40BC6C;
  border: 5px solid #1C1F1E;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.level-dropdown.show {
  -webkit-animation: fadein .4s;
  -moz-animation: fadein .4s;
  -ms-animation: fadein .4s;
  -o-animation: fadein .4s;
  animation: fadein .4s;
}

.level-dropdown li {
  text-align: center;
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid #1C1F1E;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Bungee', cursive;
}

.level-dropdown li:last-of-type {
  border: none;
  box-sizing: border-box;
}

.level-dropdown li:hover {
  background-color: #40BC6C;
  color: #1C1F1E;
  outline: 5px solid #1C1F1E;
  box-sizing: border-box;
}
