.fa {
  cursor: pointer;
}

.fa-arrow-circle-left {
  margin-right: 20px;
}

.disabled {
  cursor: default;
}

#sidebar {
  width: 20%;
  height: 100%;
  box-sizing: border-box;
  background-color: #A8A8A8;
}

h1 {
  font-weight: bold;
  font-size: 28px;
}

#sidebar-header {
  position: relative;
}

#sidebar-header, #level-nav {
  padding: 15px;
  background-color: #40bc6c;
  font-family: 'Bungee', cursive;
  letter-spacing: 2px;
  flex-wrap: wrap;
}

#sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#level-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#level {
  font-size: 20px;
  font-weight: bold;
}

#level-arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

#level-description {
  padding: 15px;
}

.level-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
}

.show {
  display: block;
}
