a, button {
  cursor: pointer;
}

i {
  font-style: italic;
}

input:focus, button:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input {
  background-color: #EFEFEF;
  border: none;
  font-family: monospace;
  font-size: inherit;
}

pre {
    font-family: monospace;
    font-size: 85%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

code {
    font-family: monospace;
    font-size: 85%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    background: #faf8f0;
}

#main code {
    display: block;
    padding: 0.5em 1em;
    border: 1px solid #bebab0;
}

#main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-family: sans-serif;
}

#sidebar {
  width: 20%;
  height: 100%;
  background-color: gray;
  padding: 20px;
  box-sizing: border-box;
}

#selector-display {
  width: 80%;
  margin: 0 auto;
  padding: 30px;
  text-align: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  font-size: 28px;
}

#selector-title {
  font-size: 20px;
  margin: 30px 0;
}

#selector-images-container {
  margin: 30px;
  background-color: #FE9834;
  border-bottom: 100px solid gray;
  width: 780px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
}

#selector-images {
  height: 280px;
}

#level {
  font-size: 20px;
  font-weight: bold;
}

#editor-headers {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid blue;
  box-sizing: border-box;
}

#editors-container {
  background-color: gray;
  margin: 0 auto;
  border: 10px solid black;
  box-sizing: border-box;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: monospace;
  margin: 10px 0;
  padding: 0 10px;
  box-sizing: border-box;
}

#editors {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.editor-header, #css-editor, #html-viewer {
  width: 350px;
}

#css-editor, #html-viewer, .text-editor-lines {
  height: 350px;
  outline: 1px solid blue;
}

.text-editor-lines {
  width: 30px;
  font-family: monospace;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding: 10px 8px 10px 0;
  box-sizing: border-box;
}

.text-editor-lines:first-of-type {
  background-color: #DDDDDD;
}

#css-input {
  position: absolute;
  top: 7px;
  left: 35px;
  width: 37%;
  height: 13px;
}

.input-flash {
  background-color: #FFA35C;
}

#enter-button {
  position: absolute;
  font-family: monospace;
  padding: 2px 5px;
  color: #666666;
  border: 3px solid #999999;
  border-width: 1px 1px 4px 4px;
  border-radius: 2px;
  font-size: 9px;
  top: 6px;
  left: 43%;
}

#css-editor textarea {
  width: 100%;
  height: 100%;
  padding: 22px 5px 5px 5px;
  box-sizing: border-box;
  font-family: monospace;
  line-height: 1.6em;
  background-color: #EFEFEF;
}

#html-viewer {
  padding: 5px;
  line-height: 1.6em;
  box-sizing: border-box;
}
